{% extends "layout.html.twig" %}

{% block title 'gallerys' %}

{% block page_title 'Gallerie' %}    
    
{% block content %}
    <h2>Galerie</h2>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th width="200px"></th>
        </tr>
        {% for gallery in gallerys %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td><img src="{{ asset('img/' ~ gallery.img) }}"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Aucun Résultat</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}


{% endblock %}