    section#partenaire {
        color: black;
        padding: 4rem 2rem 6rem 2rem;
        height: 72rem;
    }
    
    section#contact {
        height: 72rem;
    }
header h1:after{
    display: block;
    width: 20rem;
    height: .2rem;
    background: snow;
    margin: 2rem auto;
}

header{
    background-image: url(../img/header.jpg);
    background-size: cover;
}

header h1{
    padding:14rem 0 6rem 0;
}
main section h1:after,main section h2:after {
    display: block;
    width: 20rem;
    height: .2rem;
    background: black;
    margin: 2rem auto;
}




/*
Style Reset
*/
    body{
        font-size: 1.5rem; /* => 15px */
        font-family: 'Merriweather', serif;
        text-align: center;
        background: url(../img/background_action.jpg);
        background-attachment: fixed;
        background-size: cover;
    }

/*
Style Main
*/
    header h1:after, h2:after {
        display: block;
        width: 20rem;
        height: .2rem;
        background: snow;
        margin: 2rem auto;
    }

    main section h1:after,main section h2:after {
        display: block;
        width: 20rem;
        height: .2rem;
        background: black;
        margin: 2rem auto;
    }


/*
Style Contact 
*/
    
    #contact{
        /* background: url(../img/contact.jpg) no-repeat center; */
        color: white;
        padding: 4.1rem 2rem 6rem 2rem;
        min-height: 10.6rem;
    }

    #contact form{
        background: #222;
        opacity: .8;
        border-radius: 3%;
        -webkit-border-radius: 3%;
    }

    
    #userName{
        background:url(../img/picto/name.png) no-repeat;
    }

    #userEmail{
        background:url(../img/picto/email.png) no-repeat;
    }
    
    #userSubject{
        border: none;
    }

    #userMessage{
        background:url(../img/picto/message.png) no-repeat;
        min-height: 10rem;
    }

    #userName, #userEmail, #userSubject, #userMessage{
        background-color: white;
        background-position: 1rem 1rem;
        padding-left: 3rem;
        margin-bottom: 1.5rem;
    }

    form p{
        display: inline-block;
        margin: .5rem;
    }

    #contact .button {
        background: #FFCC02;
        border: none;
        padding: 10px 25px 10px 25px;
        color: #585858;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        text-shadow: 1px 1px 1px #FFE477;
        font-weight: bold;
        box-shadow: 1px 1px 1px #3D3D3D;
        -webkit-box-shadow:1px 1px 1px #3D3D3D;
        -moz-box-shadow:1px 1px 1px #3D3D3D;
        display: block;
        margin: auto auto 1rem auto;
    }

    #contact .button:hover, #contentHeader button:hover {
        color: #333;
        background-color: #EBEBEB;
    }
 
    section#partenaire p{
        color: beige;
        padding: 4rem 2rem 6rem 2rem;
        background: #222;
        opacity: .6;
        border-radius: 3%;
        -webkit-border-radius: 3%;
    }
    

    h2 {
        font-size: 3rem;
        margin: auto;
        padding-bottom: 2rem;
    }
    

@media screen and (min-width: 650px){
    header{
        min-height: 70rem;
    }  
    header h1{
        padding:0rem 0 6rem 0;
    }
}
    
@media screen and (min-width: 1920px){
    header{
            padding: 0 0 30rem 0!important;

    }  
}



